.contenedor {
  margin: 2em;
  border: 8px solid #000;
  border-radius: 100%;
  width: 130px;
  display: inline-block;
  height: 130px;
  background-color: #e4e4e4;
}

.contenedor img {
  margin-top: 9px;
  width: 96px;
  height: 96px;
}

#name-poke{
  text-align: center;
  margin-top: 2em;
  margin-left: -22px;
  width: 125px;
  padding: 0.3em;
  background-color: rgba(0,0,0,.5);
  color: #FFF;
  font-weight: bolder;
}

.contenedor-inv {
  margin: 2em;
  width: 130px;
  display: inline-block;
  height: 130px;
}